{% extends "account_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Delete Account: {{ account.name }}</h2>
{% endblock page_header %}

{% block content %}
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Are you sure?</h4>
    <p>This action is irreversible. Deleting this account will also permanently delete all of its associated transactions and documents.</p>
    <hr>
    <form action="{% url 'account_logs:delete_account' account.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirm Delete</button>
      <a href="{% url 'account_logs:account_detail' account.id %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock content %}